.restaurants {
    display: grid;
    grid-row-gap: 20px;
  }


@media screen and (max-width: 699px) {
    .nav {
      z-index: 10;
      background-color: #292929;
      width: 200px;
      position: absolute;
  
      /* This trasform moves the drawer off canvas. */
      transform: translate(-300px, 0);
  
      /* Optionally, we animate the drawer. */
      transition: transform 0.3s ease;
    }
  
    .open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  
    .nav__item {
      display: list-item;
      border-bottom: 1px solid #E0E0E0;
      width: 100%;
      text-align: left;
    }
  
  }
  
  @media screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }     

    .restaurants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 16px;
        padding: 0px 5%;
      }

      .content  {
        padding: 0;
      }

      .information {
        padding: 20px;
      }

      .information .restaurant-poster {
        width: 100%;
      }

      .categories {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
  }

  @media screen and (min-width: 850px) {
    .restaurants {
      grid-template-columns: repeat(3, 1fr);
    }
  }


  @media screen and (min-width: 1000px){
    .nav__item {
        width: 15%;
        display: inline-block;
        font-size: small;
      }

      .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 16px;
      } 

      

      
  }
  @media screen and (min-width: 1200px) {
    .restaurants {
      grid-template-columns: repeat(4, 1fr);
    }

    .resto {
      display: flex;
      flex-direction: column;
    }

    .information {
      display: flex;
      flex-direction: row;
      padding: 10px;
    }

    .information .restaurant-poster {
      width: 50%;
      padding: 20px;
      border-radius: 30px;
    }

    .categories {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .content  {
      padding: 0;
    }

    .nav__item {
      width: 15%;
      display: inline-block;
      font-size: small;
    }
    }
  

  @media screen and (min-width: 1600px) {
    .restaurants {
        grid-template-columns: repeat(5, 1fr);
    }
  }

  

